*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: crimson;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_output{
    width: 450px;
    height: 600px;
}
.cadrillage{
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows:  100px 80px repeat(3,150px);
}
.new_game{
    grid-column-start: 2;
    height: 40%;
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    background-color: crimson;
}
.option{
    margin: auto;
    writing-mode: vertical-lr;
    height: 40%;
    width: 18%;
    font-size: 3em;
    border: none;
    border-radius: 20px;
    background-color: crimson;
}
.message{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
}
.new_game:hover,.option:hover{
    background-color: rgba(220, 20, 60, 0.7);

}
.grille_cases{
    border: 5px ridge blueviolet;
    box-shadow: inset 0 0 10px darkblue, 0 0 20px crimson;
    font-size: 11em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-shadow: 1px 1px 2px crimson, 0 0 15px blueviolet, 0 0 10px darkblue;}

.dialog_option{
    object-position: right top;
    margin: auto 500px 300px auto;   /* vers : le bas - la gauche - le haut - la droite*/
    width: 300px;
    padding: 10px;
    border: 3px ridge blueviolet;
    background-color: crimson;
    font-size: 1.2em;

}
.dialog_option div div{
    display: flex;
    justify-content: space-between;
}
.input_nom_joueur1,.input_nom_joueur2{
    width: 100px;
    padding: 2px;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
}
.lettre_joueur1,.lettre_joueur2{
    width: 20px;
    padding: 2px;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
}
.couleur_joueur1,.couleur_joueur2{
    margin-left: 5px;
    margin-bottom: 5px;
 
}
.dialog_option_cancelBtn,.dialog_option_confirmBtn{
    padding: 5px;
    font-size: 1.2em;

}


